.naviglinks, .bottomtext {
    color: white;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 3px 2px 3px grey;
    letter-spacing: 1px;
}

#logo {
    color: white;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 3px 2px 3px grey;
    letter-spacing: 1px;
}

.maintext {
    color: white;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.fruittext {
    color: white;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.alittlebox, #logo {
    text-align: center;
}

.alittlebox {
    width: 12%;
}

.usualbox{
    margin: 5px 100px 5px 100px;
}

.fruit {
    padding: 5px 5px 5px 5px;
    margin: 5px 100px 5px 100px;
    background: linear-gradient(#A83279,#D38312);
}

#page {
    paddling: 0;
    margin: 0;
    height: 100%;
    background-color: black;
}

#hat {
    border-collapse: collapse;
    width: 100%;
    background: linear-gradient(#0f0f0f,#373b44);
}

#space {
    width: 44%;
}

footer {
    background: linear-gradient(#373b44,#0f0f0f);
}

#forcustomers {
        padding: 0px 5px 0px 5px;
        margin: 0px 100px 0px 100px;
}

#fruitbutton {
    border: none;
    border-radius: 30px;
    background: linear-gradient(#A83279,#D38312);
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    wont-weight: bold;
    height: 5%;
    width: 10%;
    transition: width 0.5s ease-out;
}

#fruitbutton:hover {
    width: 15%;
}

.naviglinks:hover {
        color: #D38312;
        text-shadow: 3px 2px 3px #A83279;
}